<?php

class Config {
	private static $db_host = "127.0.0.1";
	private static $db_name = "nvote";
	private static $db_user = "root";
	private static $db_password = "";

	public static function fix_database($username=null) {
		if(is_null($username)) {
			$username = self::$db_user;
			$password = self::$db_password;
		} else {
			$password = ask_for_password();
		}
		return new MySQLi(self::$db_host, $username, $password, self::$db_name);
	}

	public static function fix_nxauth(){
		global $nxauth_root;

		$cas_config = array(
			'site' => "nitroxy.com",
			'port' => 443,
			'key_id' => "nvote",                                   /* Name of the key on the server */
			'private_key' => dirname(__FILE__) . "/nvote.priv",    /* Set this to the filename of your key */
			'ca_cert' => "$nxauth_root/certs/GeoTrustGlobalCA.pem" /* If this is null no cert validation will be done */
		);

		NXAuth::init($cas_config);
	}
}

require_once('libs/BasicObject/BasicObject.php');
require_once('libs/BasicObject/ValidatingBasicObject.php');
BasicObject::$output_htmlspecialchars = true;

Config::fix_nxauth();
$db = Config::fix_database();
$crew_groups = array('Kreativ'); /* Crew groups that are admins */
