<?php

global $nxauth_root;

/* look in default.php for more configuration options */

$version = 1;
$settings = array(
	'database' => array(
		'name' => "nvote",
		'user' => "root",
		'password' => ""
	),
	'cas_config' => array(
		'site' => "nitroxy.com",
		'port' => 443,
		'key_id' => "nvote",                                   /* Name of the key on the server */
		'private_key' => dirname(__FILE__) . "/nvote.priv",    /* Set this to the filename of your key */
		'ca_cert' => "$nxauth_root/certs/GeoTrustGlobalCA.pem" /* If this is null no cert validation will be done */
	),
	'access' => array(
		'admin_groups' => array('Kreativ'), /* Crew groups that are admins */
	),
);
