* {
    margin: 0;
    padding: 0;
}

body {
    background: #bbb;
}

#wrapper {
    background: #fff;
    width: 800px;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #000;
}

#nav ul {
    list-style: none;
}

#nav li {
    display: table-cell;
    padding: 0 1em;
}

#nav li:first-child {
    padding-left: 0;
}

#message {

}

#message.error {
    color: red;
}

#message.info {
    color: blue;
}

#message.success {
    color: green;
}

#upload label {
    display: inline-block;
    width: 150px;
}

#upload .help {
    padding-left: 1em;
    font-size: 0.8em;
    color: #666;
}

#upload input[type=text] {
    width: 200px;
}

#upload textarea {
    width: 354px;
}

.entry {
    border: 1px solid #000;
    padding: 1em;
    margin-bottom: 1em;
}

.entry .title {
    display: inline;
}

.entry ul {
    list-style: none;
}

.entry li {
    display: table-cell;
    padding: 0 1em;
}

.entry li:first-child {
    padding-left: 0;
}

.entry a {
    font-size: 0.8em;
}
