* {
    margin: 0;
    padding: 0;
}

body {
    /*background: url("pattern.png") repeat;*/
	background: #efecec;
}

ul {
    list-style: none;
}

h2 {
    margin-top: 1em;
	margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

#content ul {
    list-style: disc;
    margin-left: 1.5em;
}

a {
	color: #888;
}

hr {
	margin: 15px 0px;
	color: #EEEEEE;
}

#header {
    background: #333;
    padding: 1.5em 1em 0em 5em;
		letter-spacing: 1px;
}

#header #subtitle {
	font-size: 0.9em;
	color: #ccc;
	padding-left: 0.2em;
}

#page_title {
	font-size: 3em;
	font-weight: 800;
	color: #666;
	text-transform: uppercase;
}

.detail {
	color: #c66600;
}

#subtitle .detail {
	font-weight: 300;
	margin-left: 15px;
}

#nav {
	padding: 1em 0em;
}

#nav a {
    color: #999;
    text-decoration: none;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 44px;
	margin-right: 22px;
	text-transform: uppercase;
}

#nav a:hover {
	color: #fff !important;
}

#nav li {
    display: table-cell;
}

.message {
	position: fixed;
	top: 2px;
    margin: 5px 0;
    padding: 0.5em;
    border: 1px solid #000;
}

.message.error {
    background: #fcc;
}

.message.info {
    background: #ccf;
}

.message.success {
    background: #cfc;
}

#content {
    margin: 0em 7em 2em 7em;
    padding: 1em;
	color: #444;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 0.8em;
	letter-spacing: 0.2px;
}

#content h1, h2, h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
}

#content h1 {
	font-size: 4em;
	font-weight: 800;
	color: #b0b0b0;
	margin-bottom: -0.5em;
}

#content h2.subtitle {
	font-size: 2em;
	font-weight: 800;
	color: #c0c0c0;
	margin-top: 0.5em;
	margin-bottom: -0.5em;
}

#upload label {
    display: inline-block;
    width: 150px;
}

#upload .help {
    margin-left: 150px;
	padding-left: 5px;
    font-size: 0.8em;
    color: #666;
	margin-top: 7px;
}

#upload input[type=text] {
    width: 200px;
}

#upload textarea {
    width: 354px;
}

.disqualified {
	background-color: #ffb6b6 !important;
}

.disqualified h2 {
	color: red;
}

.disqualified .title a {
	color: #636363 !important;
	text-decoration: line-through !important;
}

.entry li {
    display: table-cell;
    padding: 0 1em;
}

.entry li:first-child {
	padding-left: 0;
}

.entry .title a {
	text-decoration: none;
	color: #aaa;
	text-decoration: none;
	display: block;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
}

.entry .title a:hover {
	color: #C66600;
}


.entry .description {
	color: #5c5c5c;
	font-size: 0.9em;
	margin: 5px 5px 5px 0px;
}

.big_links {
	padding-left: 10px;
	margin-top: 3em;
}

.big_links a {
	color: #aaa;
	text-decoration: none;
	display: block;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
}

.big_links a:hover {
	color: #C66600;
}

.screenshot {
	width: 200px;
	float: left;
	margin-right: 10px;
}

.clear {
	clear: both;
}

.vote {
	float: right;
	margin-right: 10px;
}

.vote_header {
	margin-top: 10px;
}

.vote_header strong {
	margin-right: 10px;
}

.vote_table {
	display: inline;
}

.vote_table td {
	padding: 2px;
}

.vote_button {
	margin: 15px 5px;
}

.score_display {
	float: right;
	font-size: 5em;
	font-weight: bold;
	margin: 29px 30px;
}

.vote_info {
	color: #5c5c5c;
	font-size: 0.9em;
	margin: 10px;
}

#title {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
}
#title {
	width: 400px !important;
}

.block {
	background: #fff;
	padding: 2em;
	margin: 2em 0;
}

.block h2 {
	margin-top: 0px;
}

input, select, textarea {
	background: #eee;
	color: #000;
	border: 1px solid black;
	padding: 3px 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-right: 3px;
}

label {
	font-weight: bold;
	margin-top: 10px;
	color: #777;
}

#admin_toggle {
	float: right;
	margin-right: 10px;
}

#admin_toggle a {
	color: #999 !important;
}

.form-label {
	text-align: right;
	padding-right: 0.5em;
	min-width: 100px;
}

.form-field {
	min-width: 250px;
	padding-right: 5px;
}

.form-hint {
	font-style: italic;
	min-width: 200px;
}

.form-error {
	color: #ea0016;
	font-weight: bold;
	margin-left: 5px;
}

.form-label, .form-hint, .form-error {
	padding-top: 3px;
}

.form-group {
	padding-right: 5px;
}

.form .tworow {
	text-align: left;
}

.form-inline {
	display: inline;
}

table .form-field textarea, table .form-field input[type=text], table .form-field input[type=password] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.link-submit {
	background-color: transparent;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	margin: 0px;
	margin-left: -2px;
	padding: 0px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: #888;
}

input[type=submit].link-submit {
	background-color: transparent !important;
}

.preview_target {
	font-style: normal;
}

.category_status {
	text-align: center;
}

th.category_status {
	font-weight: normal;
	font-style: italic;
	padding: 5px;
}

.category_table {
	border-collapse: collapse;
}

.category_table td {
	border-top: 1px solid #ccc;
	padding: 5px;
}

.select_admin_event {
	float: right;
}

#admin-box {
	float: right;
	background: #EFECEC;
	padding: 10px;
	font-size: 0.8em;
	margin: 0px 0px 10px 10px;
}

.admin-toggle {
	text-decoration: underline;
}

.admin-toggle-on {
	color: #0f0;
}

.admin-toggle-off {
	color: #f00;
}
